<?xml version="1.0"?>
<launch>
    <arg name="respawn"             default="false" />
    <arg name="debug"               default="false" />
    <arg name="node_name"           default="arena_camera_node" />
    <arg name="config_file"         default="$(find arena_camera)/config/default.yaml" />
    <arg name="device_user_id_0"    default="camera_ToF_0" />
    <arg name="device_user_id_1"    default="camera_ToF_1" />
    <arg name="camera_frame_0"      default="arena_camera_0" />
    <arg name="camera_frame_1"      default="arena_camera_1" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

    <!-- camera_ToF_0-->
    <node name="$(arg node_name)_0" pkg="arena_camera" type="arena_camera_node" output="screen" respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        <rosparam command="load"        file="$(arg config_file)" />
        <param name="device_user_id"    type="string"       value="$(arg device_user_id_0)"/>       <!-- This value will overwrite the one from the config file -->
        <param name="camera_frame"      type="string"       value="$(arg camera_frame_0)"/>         <!-- This value will overwrite the one from the config file -->
    </node>

    <!-- camera_ToF_1 -->
    <node name="$(arg node_name)_1" pkg="arena_camera" type="arena_camera_node" output="screen" respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        <rosparam command="load"        file="$(arg config_file)" />
        <param name="device_user_id"    type="string"       value="$(arg device_user_id_1)"/>       <!-- This value will overwrite the one from the config file -->
        <param name="camera_frame"      type="string"       value="$(arg camera_frame_1)"/>         <!-- This value will overwrite the one from the config file -->
    </node>
</launch>
